# --- Backend (Spring Boot/Maven) ---
**/target/
**/*.class
backend/app-smoke.log
*.log

# --- Frontend (Angular/Node) ---
frontend/node_modules/
frontend/dist/
# This is the "all these files" folder created by ng serve
frontend/.angular/
frontend/package-lock.json

# --- Security & Certificates ---
# Ignore the .pem file you used for Azure SSL
*.pem
*.jks

# --- IDE & OS ---
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db